@model Modelos.DepartamentoModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DepartamentoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisId)
        </dd>

    </dl>
</div>

<div>
    <h4>Ciudades</h4>

    <p>
        @Html.ActionLink("Create New", "../Ciudades/Create", new { id = Model.Id })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ciudades)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Ciudades)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCiudad)
                </td>
                <td>
                    @Html.ActionLink("Edit", "../Ciudades/Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "../Ciudades/Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "../Ciudades/Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
